.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_wrapper {
	width: 60%;
	min-height: 60%;
	background-color: white;
	opacity: 0.95;
}

.cart_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 20px;
}

.cart_header_title {
	font-size: 1.5em;
}

.cart_header_close {
	cursor: pointer;
	color: red;
}

.cart_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.cart_item_img {
  width: 150px;
  height: auto;
}

.cart_item_about {
  display: flex;
  flex-direction: column;
}

.about_item {
  margin: 10px;
}

.about_text {
  font-weight: bold;
}

.cart_item_del {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: red;
  opacity: 0.7;
  cursor: pointer;
}

.cart_item_del:hover {
  opacity: 1;
  color: white;
}